.shadow {
    box-shadow: 10px 10px 15px black;
 }

.container-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--gap-l) 0;
	margin: calc(-1 * var(--gap-l));
}

.container-box > * {
	margin: var(--gap-l);
}

.container-box > div {
	flex-grow:1;
}

.container-box > img {
    height: min(23vw, 250px);
}

@media (max-width:700px) {
	.container-box {
		flex-direction: column;
		margin: calc(-1 * var(--gap-m));
	}

	.container-box > * {
		margin: var(--gap-m);
	}

	.container-box > div {
		text-align: center;
		order: 2;
	}

	.container-box > div h3 {
		text-align: center;
		margin-bottom: var(--gap-s);
	}

	.container-box > img {
		order: 1;
		height: 35vw;
	}
}